body { margin: 0px; padding: 0px; font-family:"Arial"; overflow-x:hidden; }

img { position: absolute; display: block; margin: 0px; border: none; padding: 0px; }

div { position: absolute; }

#content-container { display: block; position: relative; width: 1440px;  margin-left: auto; margin-right: auto;  }

#content-container > div{ position: relative; top:inherit; }

#content-container > div{ position: relative; top:inherit; }
#page_desktop__ek1 {
	top: 0px;
	left: 0px;
	width: 1440px;
	height: 1024px;
}

#_bg__desktop__ek2 {
	top: 0px;
	left: 0px;
	width: 1440px;
	height: 1024px;
	background:rgba(255,255,255,1);
}


#_6415d543fb45c77939a78df29366652c_1 {
	top: 0px;
	left: 0px;
	width: 1440px;
	height: 1024px;
}


#ghana_flag_1 {
	top: 14px;
	left: 19px;
	width: 100px;
	height: 100px;
}



#paragraph{
	top: 90px;
	left: 242px;
	width: 1044px;
	height: 124px;
	overflow: hidden;
	font-family: Poppins;
	font-size: 26px;
	text-align: left;
	color:#FFFFFF;
	overflow: visible;
}


#yob_box {
	top: 357px;
	left: 584px;
	width: 339px;
	height: 36px;
	-ms-border-radius: 30px;
	-o-border-radius: 30px;
	-moz-border-radius: 30px;
	-webkit-border-radius: 30px;
	border-radius: 30px;
	background:rgba(255,255,255,1);
}


#birthday_box {
	top: 567px;
	left: 584px;
	width: 339px;
	height: 36px;
	-ms-border-radius: 30px;
	-o-border-radius: 30px;
	-moz-border-radius: 30px;
	-webkit-border-radius: 30px;
	border-radius: 30px;
	background:rgba(255,255,255,1);
}



#birthmonth_box {
	top: 497px;
	left: 584px;
	width: 339px;
	height: 36px;
	-ms-border-radius: 30px;
	-o-border-radius: 30px;
	-moz-border-radius: 30px;
	-webkit-border-radius: 30px;
	border-radius: 30px;
	background:rgba(255,255,255,1);
}


#birthcentury_box {
	top: 427px;
	left: 584px;
	width: 339px;
	height: 36px;
	-ms-border-radius: 30px;
	-o-border-radius: 30px;
	-moz-border-radius: 30px;
	-webkit-border-radius: 30px;
	border-radius: 30px;
	background:rgba(255,255,255,1);
}


#year_of_birth {
	top: 357px;
	left: 267px;
	width: 154px;
	height: 56px;
	overflow: hidden;
	font-family: Rationale;
	font-size: 30px;
	text-align: left;
	color:#000000;
}


#birth_day {
	top: 567px;
	left: 267px;
	width: 119px;
	height: 56px;
	overflow: hidden;
	font-family: Rationale;
	font-size: 30px;
	text-align: left;
	color:#000000;
}



#birth_month {
	top: 497px;
	left: 267px;
	width: 148px;
	height: 56px;
	overflow: hidden;
	font-family: Rationale;
	font-size: 30px;
	text-align: left;
	color:#000000;
}


#birth_century {
	top: 427px;
	left: 267px;
	width: 161px;
	height: 56px;
	overflow: hidden;
	font-family: Rationale;
	font-size: 30px;
	text-align: left;
	color:#000000;
}


#akan_name {
	top: 771px;
	left: 257px;
	width: 467px;
	height: 150px;
	overflow: hidden;
	font-family: Rationale;
	font-size: 48px;
	text-align: left;
	color:#FFFFFF;
}

